<%= render partial: "filters" %>

<%= turbo_frame_tag "cards" do %>
  <% if @render_packs %>
    <h2 class="text-3xl my-4">Packs</h2>
    <% if @packs.present? %>
      <% if @pagy_packs.pages > 1 %>
        <div class="mb-5"><%== pagy_nav(@pagy_packs) %></div>
      <% end %>

      <div class="grid grid-cols-4 gap-4">
          <% @packs.each_with_index do |pack, index| %>
            <div id="<%= dom_id(pack, index) %>" class="pack-container block max-w-sm p-6 border rounded-lg">
              <div class="flex flex-col items-center">
                <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-gray-300"><%= pack.name %></h5>
                <span class="text-sm dark:text-gray-500 mb-1">Cost: <%= pack.coins %></span>
                <div class="mb-2"><%= pack.description %></div>
                <%= button_to "Open",
                  "#",
                  class: "btn",
                  params: {
                    :id => pack.id,
                    :index => index
                  },
                  form: {
                    data: {
                      turbo_confirm: "Open #{pack.name} pack?"
                    }
                  }
                %>
              </div>
            </div>
          <% end %>
      </div>
    <% else %>
      <p>No results found.</p>
    <% end %>
    <div class="divider"></div>
  <% end %>
  <h2 class="text-3xl my-4">Cards</h2>
  <% if @cards.present? %>
    <% if @packs.present? %>
      
    <% end %>
    <% if @pagy_cards.pages > 1 %>
      <div class="mb-5"><%== pagy_nav(@pagy_cards) %></div>
    <% end %>

    <div class="grid grid-cols-4 gap-4">
      <% @cards.each do |card| %>
        <%= image_tag(card.image_url + "/high.webp") if card.image_url.present? %>
      <% end %>
    </div>
  <% else %>
    <p>No results found.</p>
  <% end %>
<% end %>
