/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
hr.padded-divider {
    margin: 1rem 0;
}

.medium-header {
    font-size: 2rem;
    line-height: 3.25rem;
    padding: 0.25rem 0;
}

.pack-container {
    background-color: hsl(var(--nf) / var(--tw-bg-opacity, 1));
    border-color: hsl(var(--n) / var(--tw-bg-opacity, 1));
}
